
snippet co

<!-- -------------------------------------------------------- -->
<!-- $1  -->
<!-- -------------------------------------------------------- -->

endsnippet

snippet t
<$1>$2</$1>
endsnippet
