snippet pr "print"
print($1)
endsnippet


snippet pp "print"
pprint($1)
endsnippet


snippet ipp "import print"
import pprint; pprint($1)
endsnippet


snippet br "breakpoint"
breakpoint()
endsnippet


snippet "" "docstring"
"""$1.

Args:
	id (int):

Returns:

Notes:

"""

endsnippet

